html,
body {
	color: #fff;
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	font-size: 13pt;
	font-weight: 400;
	line-height: 2em;
	background-color:#222;
	margin:0;
	padding:0;
	height:100%;
}
#container {
	/* The only use of this is to leave room for the footer, 
	so padding-bottom must be same height as footer height. */
	min-height:100%;
	position:relative;
}
#header {
	padding:2em;

	background:#000;
	border-bottom: 0.5em solid #387ff2;
	text-align:center;
}
#header h1 {
	display:inline;;
	vertical-align: middle;
	color:#387ff2;
}
#content {
	/* The only reason of content is to wrap the body (sic)
	and leave enough space for the footer */
	padding-bottom:5em;
}
#footer {
	width:100%;
	height:5em;
	position:absolute;
	bottom:0;
	left:0;
	
	color:#555;
	background: #000;
	border-top: 0.7em solid #387ff2;
}
#footer div.textblock {
	text-align: right;
	margin: 1em;
	font-style:italic;
}

#middle {
	margin: 0px 250px 0px 190px;
	padding: 10px;
}

div.infobox {
	color:#A9B1EF;
	background-color:#000;
	border-style: solid;
	border-color: #172278;
	margin:2.5em;
	padding:1em;
	border-radius:1em;
	box-shadow: 10px 10px 15px #000;
}

img.screenshot {
	display:block;
	margin: 2em 0 2em 0;
    margin-left: auto;
    margin-right: auto;
	border-style: outset;
	border-color:#555;
	border-radius:1em;
	box-shadow: 0px 0px 15px #888;
}