body, input, select, textarea {
	color: #666;
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	font-size: 13pt;
	font-weight: 400;
	line-height: 2em;
}

h1, h2, h3, h4, h5, h6 {
	color: #484848;
	font-weight: 700;
	line-height: 1em;
	margin: 0 0 1em 0;
	text-transform: uppercase;
}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: inherit;
		text-decoration: none;
	}

h2 {
	font-size: 1.75em;
	line-height: 1.5em;
}

h3 {
	font-size: 1.35em;
	line-height: 1.5em;
}

h4 {
	font-size: 1.1em;
	line-height: 1.5em;
}

h5 {
	font-size: 0.9em;
	line-height: 1.5em;
}

h6 {
	font-size: 0.7em;
	line-height: 1.5em;
}

sub {
	font-size: 0.8em;
	position: relative;
	top: 0.5em;
}

sup {
	font-size: 0.8em;
	position: relative;
	top: -0.5em;
}

hr {
	border: 0;
	border-bottom: solid 1px rgba(144, 144, 144, 0.25);
	margin: 2em 0;
}

	hr.major {
		margin: 3em 0;
	}

blockquote {
	border-left: solid 4px rgba(144, 144, 144, 0.25);
	font-style: italic;
	margin: 0 0 2em 0;
	padding: 0.5em 0 0.5em 2em;
}

code {
	background: rgba(144, 144, 144, 0.075);
	border-radius: 4px;
	border: solid 1px rgba(144, 144, 144, 0.25);
	font-family: "Courier New", monospace;
	font-size: 0.9em;
	margin: 0 0.25em;
	padding: 0.25em 0.65em;
}

#top {
	margin: 20px 20px 0px 20px;
	padding: 10px;
	/*border: 5px solid #FFF;*/
	background: #FFF;
	height: 100px; /* ie5win fudge begins */
	voice-family: "\"}\"";
	voice-family:inherit;
	height: 70px;
	text-align: center;
	}
html>body #top {
	height: 70px; /* ie5win fudge ends */
	}
#left {
	position: absolute;
	top: 120px;
	left: 0px;
	margin: 20px;
	padding: 10px;
	border: 5px solid #ccc;
	background: #666;
	width: 150px; /* ie5win fudge begins */
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 120px;
	}
html>body #left {
	width: 120px; /* ie5win fudge ends */
	}
#middle {
	margin: 20px 190px 20px 190px;
	padding: 10px;
	/*border: 5px solid #ccc;*/
	background: #FFF;
	}
#right {
	position: absolute;
	top: 120px;
	right: 0px; /* Opera5.02 will show a space 
	at right when there is no scroll bar */
	margin: 20px;
	padding: 10px;
	border: 5px solid #ccc;
	background: #666;
	width: 150px; /* ie5win fudge begins */
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 120px;
	}
html>body #right {
	width: 120px; /* ie5win fudge ends */
	}
